/build/
/out/
/bin/
*.iml
.idea
.classpath
.settings
.project
.class
.DS_Store
biz/.DS_Store
biz/core/.DS_Store
biz/dal/.DS_Store
service/.DS_Store
service/impl/.DS_Store
web/.DS_Store
JETTY_LOGS_IS_UNDEFINED