<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <contextName>spring-boot-demo</contextName>

    <property name="PROJECT_NAME" value="spring-boot-demo"/>
    <property name="MAX_DAY" value="30"/>
    <property name="LOGGING_PATH" value="/logs/spring-boot-demo"/>
    <property name="SERVICE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{56} - traceId:[%X{TRACE_ID}] - %msg%n"/>
    <!-- direct log messages to stdout -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>${SERVICE_PATTERN}</pattern>
        </encoder>
    </appender>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <!-- common -->
    <appender name="COMMON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGING_PATH}/${PROJECT_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOGGING_PATH}/${PROJECT_NAME}.%d{yyyy-MM-dd}.%i.log.gz
            </FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAX_DAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERVICE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 访问日志 -->
    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGING_PATH}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOGGING_PATH}/access.%d{yyyy-MM-dd}.%i.log.gz
            </FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAX_DAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERVICE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- errorFile -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGING_PATH}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOGGING_PATH}/error/error.%d{yyyy-MM-dd}.%i.log.gz
            </FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>{MAX_DAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERVICE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- SQL 文件 -->
    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGING_PATH}/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOGGING_PATH}/sql/sql.log.%d.%i.gz
            </FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>{MAX_DAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERVICE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 定义SQL日志 -->
    <logger name="SQL" level="info" additivity="false">
        <appender-ref ref="SQL"/>
    </logger>

    <!-- 定义SQL日志 -->
    <logger name="ACCESS" level="info" additivity="false">
        <appender-ref ref="ACCESS"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="COMMON"/>
        <appender-ref ref="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>
